{
	"env": {
		"node": true,
		"jest": true
	},
	"extends": "eslint-config-airbnb-base",
	"rules": {
		"comma-dangle": "off",
		"consistent-return": "off",
		"eol-last": "off",
		"indent": ["error", "tab"],
		"linebreak-style": "off",
		"no-plusplus": "off",
		"no-tabs": "off",
		"no-trailing-spaces": "off",
		"no-use-before-define": ["error", {"functions": false, "classes": false}],
		"object-curly-spacing":"off",
		"one-var": "off",
		"quotes": "off",
		"spaced-comment": "off"
	}
}
